<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="col-12 col-md-4">
                    <h5 class="card-title">Titulo: {{product.title}}</h5>
                    <p class="">Precio: {{product.price}}</p>
                    <p class="">Descripcion: {{message.description}}</p>
                    <a href="/messages/create" class="btn btn-primary">Escribir mensaje</a>
                </div>
            </div>
        </div>   
</body>
</html>


